@{
    ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Add New Specialty</h1>
	<h4 class="text-danger">@ViewBag.message</h4>

	<form asp-controller="specialties" asp-action="create" method="post">

		<div class="form-group">
			<label for="client_name">Specialty</label>
			<input type="text" class="form-control" name="specialty" placeholder="Large blonde hair">
		</div>

		<button class="btn btn-primary" type="submit">Add</button>
	</form>
</div>
