input {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

select {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	opacity: 0.95;
}


.clientBG {	
	background-color: darkgoldenrod;
	background-color: rgba(0, 0, 0, 0.50);	
}

.stylistCustomer {
	grid-column: 1 / 2;
}

a {
	color: white;
}

a:hover {
	color: lightcyan;
	text-decoration: none;
}