@{
    ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Welcome @ViewBag.StylistName</h1>	
	<h4 class="text-danger">@ViewBag.message</h4>
	
	
</div>
