@{
	ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="text-center">
	<h1 class="display-3">Welcome @ViewBag.StylistName</h1>
	<h4 class="text-danger">@ViewBag.message</h4>

	<h3>Stylists</h3>

	<div class="container clientBG">
		@if (ViewBag.UserList != null)
		{
			foreach (Stylist item in ViewBag.UserList)
			{
				<p><a asp-controller="stylist" asp-action="show" asp-route-userId="@item.Id"> @item.Name </a></p>
			}
		}
	</div>
</div>
